html,
body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  color: #444;
  font-size: 12px;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding: 0
}
.container .wrap {
  margin: 0 95px;
}

.container .full_white {
  margin: -30px -95px -60px -95px;
  background-color: #fff;
  padding: 10px 95px 30px 95px;
}

.bk_gray {
  background-color: #f4f4f4;
  padding-bottom: 56px;
}

.block_channel {
  position: relative;
  float: left;
}
.block_channel:after {
  clear: both;
  content: ""
}
.channel_normal_left{
  width: 683px;
}
.channel_normal_right{
  width: 325px;
  margin-left: 30px;
}

/*-------------------------page-login-------------------------*/
.page-login {
  border:solid 1px #dbdbdb;
  background-color: #f1f1f1;
  width: 504px;
  margin: 30px auto;
  padding: 30px 65px;
}
.page-login .title {
  font-size: 18px;
}
.page-login .btn-login {
  background-color: #ee6b01;
}
.page-login label.rememberme {
  display: block;
  text-align: left;
  margin: 10px 0;
}
.page-login div.links {
  text-align: right;
  padding-top: 10px;
  font-size: 14px;
}

.page-login span.field-validation-error
{
  text-align: left;
  float: left;
}
/*-------------------------block-------------------------*/

.block_panel {
  border: 1px solid #bfbfbf;
  padding: 20px;
  background-color: #fff;
  margin-top: 30px;
}
.block_panel.compact {
  padding: 0;
}
.block_panel.blue_edge {
  border-top: #7ab4ce 3px solid;
}

.block_panel .panel_title {
  font-size: 18px;
  color: #f39800;
  padding-bottom: 40px;
  border-bottom: 1px solid #a0a0a0;
  height: 20px;
  text-align: left;
  margin-bottom: 20px;
}
.block_panel .panel_title::after {
  content: '';
  clear: both;
}
  .block_panel .panel_title img {
    margin: -5px 15px 0 0;
    }
  .block_panel .panel_title span {
    margin-right: 60px;
  }
  .block_panel .panel_title a.more {
    float: right;
    font-size: 14px;
    color: #666;
    }
  .block_panel .panel_title .sort {
    font-size: 16px;
    color: #666;
    }
   .block_panel .panel_title .sort a.down::after {
     content: '&lt;b&gt;a&lt;/b&gt;'
    }
 .block_panel .panel_title .tab {
    font-size: 16px;
    padding: 0 6px;
    }
  .block_panel .panel_title .tab.actived {
    color: #f39800;
    }
.block_panel .panel_title.nav {
  color: #666;
}
.block_panel .panel_title.nav span {
  color: #33b433;
}
.block_panel .body {

}

/*-------------------------login-------------------------*/

.login .username, .login .password {
  text-indent: 1em;
  width: 279px;
  border: 1px solid #666;
  background-color: #eee;
  height: 35px;
  margin-top: 10px;
}
.login div {
  line-height: 40px;
}

.login .submit {
  color: #fff;
  background-color: #f39800;
  width: 100px;
  text-align: center;
  border: none;
  height: 40px;
  font: normal 18px / 20px "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

/*-------------------------compact_list-------------------------*/

.compact_list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.compact_list li {
  margin-top: 7px;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  }

.compact_list a {
  color: #666;
  padding-left: 4px;
  }

.compact_list a:hover {
  color: #0077dd;
  }

.compact_list span {
  display: inline-block;
  width: 17px;
  text-align: center;
  margin-right: 5px;
  }
.compact_list span:after {
  content: '、'
}
.compact_list span.square {
  background-color: #f39800;
  color: #fff;
  }
.compact_list span.square:after {
  content: none;
}

/*-------------------------用户橱窗-------------------------*/

.user_square {
  padding: 0;
  border: none;
  display: inline-block;
  text-align: center;
  margin: 0 2px 5px 2px;
  width: 48px;
}
.user_square img {
  border: 1px solid grey;
  width: 48px;
  height: 49px;
}

.user_square div {
  padding-top: 1px;
}

.user_square p {
  background-color: #666;
  color: #fff;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  }

/*-------------------------客服热线-------------------------*/
.service p {
  color: #666;
  font-size: 16px / 20px;
  margin: 0px;
  line-height: 30px;
}
.service .phone {
  color: #f39800;
  font-size: 30px;
  margin: 19px 0 10px 0;
}

/*--------------------------作品橱窗-------------------------*/

.res_square {
  padding: 0;
  border: none;
  margin: 0 13px;
  overflow: hidden;
  clear: both;
  position: relative;
  display: inline-block;
  width: 184px;
}

.res_square img.cover {
  width: 184px;
  height: 115px;
}
.res_square .hot {
  background: url('../img/re.png') scroll no-repeat 0px 0px;
  position: absolute;
  height: 79px;
  width: 79px;
  top: -2px;
  left: -3px;
}
.res_square p {
  margin: 10px 0;
  color: #0082cc;
  text-align: left;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  clear: both;
}

.res_square span {
  color: #666;
  font-size: 12px / 20px;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  clear: both;
  display: block;
}

/*-------------------------星号处理-------------------------*/

.fr-star img {
  width: 14px;
}

/*-------------------------作品排行橱窗-------------------------*/

.ranking_square {
  border-bottom: 1px dotted #bfbfbf;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.ranking_square img.cover {
  width: 150px;
  height: 94px;
  vertical-align: top;
}
.ranking_square .details {
  width: 433px;
  padding-left: 20px;
  position: relative;
  display: inline-block;
}
.ranking_square .details.wide {
  width: 733px;
}
.ranking_square .details.downwide {
  width: 890px;
}
.ranking_square .restitle {
  font-size: 16px;
  color: #338ecf;
}
.ranking_square .info {
  color: #666;
  margin-top: 6px;
}
.ranking_square .info span {
  color: #f39800;
  margin-right: 8px;
}
.ranking_square .snippet {
  color: #666;
  font-size: 10px;
  margin-top: 6px;
}

/*-------------------------分类搜索域------------------------*/

.category_hit {

}

.category_hit dl {
  overflow: hidden;
  margin: 0 0 15px 0;
}

.category_hit dt {
  font-weight: bold;
  font-size: 18px;
  color: #f39800;
  float: left;
  line-height: 22px;
}

.category_hit dd {
  float: left;
  width: 93%;
  line-height: 22px;
}

.category_hit .items {
  list-style: none;
  padding-left: 5px;
}

.category_hit .items li {
  float: left;
  margin: 0 20px 5px 0;
  }

.category_hit .items li a {
  font-size: 16px;
  color: #4596bb;
  }
.category_hit .items li a.actived {
  color: #f39800;
  }

.category_hit select.hit, .category_hit input.hit {
  height: 34px;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
.category_hit select.hit {
  width: 123px;
}
.category_hit input.hit {
  width: 300px;
}
.category_hit button {
  height: 34px;
  padding: 3px 20px;
  font-size: 14px;
}

/*-------------------------文件类型------------------------*/

.filetype div {
  background: url("file.png") no-repeat center center;
  width: 156px;
  height: 156px;
}

.filetype div.txt { background-image: url("txt.png") }
.filetype div.log { background-image: url("txt.png") }
.filetype div.rtf { background-image: url("txt.png") }
.filetype div.doc { background-image: url("word.png") }
.filetype div.docx { background-image: url("word.png") }
.filetype div.xls { background-image: url("excel.png") }
.filetype div.xlsx { background-image: url("excel.png") }
.filetype div.ppt { background-image: url("ppt.png") }
.filetype div.pptx { background-image: url("ppt.png") }
.filetype div.pdf { background-image: url("pdf.png") }

.filetype div.jpg { background-image: url("image.png") }
.filetype div.jpeg { background-image: url("image.png") }
.filetype div.png { background-image: url("image.png") }
.filetype div.gif { background-image: url("image.png") }
.filetype div.bmp { background-image: url("image.png") }

.filetype div.mpg { background-image: url("video.png") }
.filetype div.mpeg { background-image: url("video.png") }
.filetype div.avi { background-image: url("video.png") }
.filetype div.wmv { background-image: url("video.png") }
.filetype div.asf { background-image: url("video.png") }
.filetype div.rm { background-image: url("video.png") }
.filetype div.rmvb { background-image: url("video.png") }
.filetype div.flv { background-image: url("video.png") }
.filetype div.mp4 { background-image: url("video.png") }

.filetype div.mid { background-image: url("audio.png") }
.filetype div.wma { background-image: url("audio.png") }
.filetype div.asx { background-image: url("audio.png") }
.filetype div.mp3 { background-image: url("audio.png") }
.filetype div.wav { background-image: url("audio.png") }

.filetype div.swf { background-image: url("swf.png") }
.filetype div.ext { background-image: url("binary.png") }
.filetype div.zip { background-image: url("zip.png") }

/*-------------------------资源详情------------------------*/

.res_details {

}

.res_details div.title {
  font-size: 20px;
  line-height: 60px;
  margin: 0px;
}
.res_details .filetype div {
  width: 48px;
  height: 48px;
  display: inline-block;
  background-size: 48px;
  vertical-align: middle;
  margin-right: 10px;
}
.res_details .opbar {
  line-height: 70px;
}
.res_details .opbar:after{
  display: table;
  content: "";
  clear: both;
}
.res_details .eval_star {
  cursor: pointer;
  float: left;
}

.res_details .eval_star b {
  font-size: 18px;
  }

.res_details .eval_star img {
  margin-bottom: 5px;
  }

.res_details .buttons {
  float: right;
}

.res_details .btn-op {
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.res_details .info {
  font-size: 14px;
  background-color: #f6f6f6;
}

.res_details .info .board {
  border-top: 1px dotted #bfbfbf;
  padding: 20px 10px;
}
.res_details .info .board.first{
  background: url('img_dn.png') scroll no-repeat 10px 32px #f6f6f6;
  padding-left: 155px;
}
.res_details .info p {
  margin: 0px;
  line-height: 35px;
  color: #666;
}
.res_details .info span {
  width: 50%;
  display: inline-block;
}
.res_details .info h3 {
  font-size: 18px;
  font-weight: bold;
  color: #383838;
  margin: 20px 0 0 0;
}

/*-------------------------评论-------------------------*/

.res_details .comment {
}

.res_details .comment h3 {
  font-size: 18px;
  font-weight: bold;
  color: #383838;
  margin: 20px 0 20px 0;
}

.res_details .comment textarea {
  resize: none;
  border: 1px solid #c2c2c2;
  width: 100%;
  height: 100px;
  overflow: auto;
}

.res_details .comment .comment_num {
  position: relative;
  float: right;
  color: #999;
  margin-top: -22px;
  margin-right: 5px;
}

.res_details .comment .btn-op {
}
.res_details .comment .comment_input {
  margin-bottom: 30px;
}
.res_details .comment .comment_count {
  font-size: 16px;
  margin-bottom: 20px;
}


.res_details .comment_list {
  padding: 15px 5px;
  overflow: hidden;
}
.res_details .comment_list .media{
  border-top: 1px dotted #bfbfbf;
  padding: 20px 0;
}
.res_details .comment_list img.media-object {
  width: 80px;
  height: 80px;
}
.res_details .comment_list h4 {
  font-size: 14px;
  padding-bottom: 6px;
}
.res_details .comment_list .media-body {
  font-size: 16px;
  padding-left: 10px;
}

/*-------------------------我的导航-------------------------*/

.my_nav {
  background-color: #f4f4f4;
  margin-bottom: 30px;
  padding-left: 95px;
}

.my_nav li {
  color: #555;
  font-size: 14px;
}

.my_nav li a {
  color: #555;
  padding: 0 28px;
  line-height: 34px;
  margin-left: 0px;
}

/*-------------------------我的信息-------------------------*/

.my_info {

}

.my_info .t_title {
    font: bold 20px / 20px "Microsoft YaHei", Helvetica, Arial, sans-serif;
    color: #333;
    padding-bottom: 40px;
    border-bottom: 1px dotted #bfbfbf;
    height: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.my_info .t_title span {
  float: left;
  margin-right: 20px;
  }

.my_info .t_title img {
  margin: -5px 15px 0 0;
  }

.my_info .t_title b {
  font-size: 14px;
  color: #605f5f;
  font-weight: normal;
  margin-top: 3px;
  }

.my_info .t_title i {
  color: #fd9f01;
  font-style: normal;
  }

.my_info .t_title a {
  float: right;
  font-size: 14px;
  color: #666;
  padding: 0 5px;
  }

.my_info .u_c {
  background-color: #f1f1f1;
  padding-left: 5px;
}
.my_info .u_c span {
  line-height: 40px;
  color: #666;
  margin-right: 30px;
  }

.my_info .u_t {
  margin-top: 15px;
}
.my_info .u_t img {
  margin-right: 15px;
  float: left;
  width: 171px;
  height: 171px;
  }

.my_info .u_t .u_text {
  float: left;
  width: 811px;
  background: url('user_ba.jpg') scroll no-repeat 550px 27px #eee;
  padding: 27px 45px;
  height: 171px;
  }

.my_info .u_t .u_text .u_name {
  font-size: 20px;
  margin-bottom: 25px;
  }
.my_info .u_t .u_text p {
  margin: 1px;
  font-size: 14px;
  line-height: 40px;
  color: #666;
  }

.my_info .u_t .u_text p span {
  display: inline-block;
  width: 210px;
  }

/*-------------------------dropzone-------------------------*/

/* dropzone */
form.dropzone.photo {
  display: none;
}
form.dropzone.cover {
  display: none;
}
form.dropzone.file {
  display: none;
}
.dropzone {
  height: 200px;
}
.dropzone .dz-message {
  font-size: 24px;
}

/*-------------------------头部-------------------------*/
.d_top {
}

.div_ml_mr95 {
    margin: 0 95px;
}

.div_pl_pr95 {
    padding: 0 95px;
}

.top_nav {
    height: 30px;
    border-bottom: solid 1px #c5c5c5;
    background-color: #ebebeb;
    margin-bottom: 2px;
}

    .top_nav span {
        line-height: 30px;
    }

.top_s_text {
    padding: 0 20px;
    color: #353535;
}

.top_s_bo {
    border-right: 1px solid;
    width: 1px;
}

/*-------------------------底部-------------------------*/
.d_b {
    background-color: #02567b;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

    .d_b p {
        margin: 0px;
        font-size: 12px;
        line-height: 24px;
    }
/*-------------------------内容-------------------------*/

.d_central {
}

.d_c {
    background-color: #f4f4f4;
    padding-bottom: 56px;
}

.p_title {
    font: bold 18px / 20px "Microsoft YaHei", Helvetica, Arial, sans-serif;
    color: #f39800;
    padding-bottom: 40px;
    border-bottom: 1px solid #a0a0a0;
    height: 20px;
    text-align: center;
}

    .p_title span {
        float: left;
    }

    .p_title img {
        margin: -5px 15px 0 0;
    }

    .p_title a {
        float: right;
        font: normal 14px / 20px "simsun","Microsoft YaHei", Arial, sans-serif;
        color: #666;
    }

    .p_title .a_c {
        float: inherit;
        font-size: 16px;
    }



.p_nav {
    font: bold 16px / 20px "Microsoft YaHei", Helvetica, Arial, sans-serif;
    color: #666;
    padding-bottom: 40px;
    border-bottom: 1px solid #a0a0a0;
    height: 20px;
    overflow: hidden;
}

    .p_nav span {
        color: #33b433;
    }

    .p_nav a {
        color: #666;
    }


.d_sel_btn {
}

.d_sel_input {
    margin-top: 10px;
}


.i_rec {
    width: 683px;
    border: 1px solid #bfbfbf;
    padding: 20px;
    background-color: #fff;
}

.i_r_k {
    width: 325px;
    border: 1px solid #bfbfbf;
    padding: 20px;
    background-color: #fff;
}

.i_r_img {
    border: 1px solid #bfbfbf;
    background-color: #fff;
    margin: 29px 0;
}




.t_list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

    .t_list a {
        color: #424141;
    }

    .t_list p > img {
        margin-right: 10px;
        vertical-align: bottom;
    }

    .t_list b {
        font-weight: normal;
        float: right;
        font-size: 14px;
        line-height: 30px;
    }





.i_u_txt {
    padding-top: 1px;
}

    .i_u_txt p {
        background-color: #666;
        color: #fff;
        font: normal 12px / 20px "Microsoft YaHei", Helvetica, Arial, sans-serif;
    }


.i_link {
    text-align: center;
}

.l_x_list {
    margin-top: 16px;
}

.l_x {
    border-bottom: 1px dotted #bfbfbf;
    clear: both;
    margin-bottom: 23px;
    padding-bottom: 22px;
    overflow: hidden;
}

.l_x_i {
    margin-right: 18px;
    width: 15%;
}

.l_x_t {
    width: 82%;
    height: 97px;
    overflow: hidden;
    position: relative;
}

.l_x_b {
    color: #666;
}

    .l_x_b span {
        color: #fe7404;
        margin-right: 5px;
    }

.l_x strong {
    font-size: 14px;
    color: #0082cc;
}

.l_x p {
    font-size: 12px;
    color: #666;
    margin: 10px 0;
    line-height: 21px;
    height: 42px;
}

.page {
    margin: 35px 0 23px 0;
    text-align: center;
}

    .page a {
        margin: 0 10px;
        color: #666;
    }

    .page span {
        margin: 0 10px;
        color: #0082cc;
    }


.l_tab {
    background-color: #f4f4f4;
    margin-bottom: 30px;
}

    .l_tab li {
        color: #555;
        font-size: 14px;
    }

        .l_tab li a {
            color: #555;
            padding: 0 28px;
            line-height: 34px;
            margin-left: 0px;
        }



.u_show {
    border: 1px solid #c9c9c9;
    padding: 20px;
    margin-bottom: 60px;
}



.img_show h1 {
    font: normal 20px / 20px "Microsoft YaHei", Helvetica, Arial, sans-serif;
    line-height: 60px;
    margin: 0px;
}

.img_show h2 {
    font: normal 18px / 20px "Microsoft YaHei", Helvetica, Arial, sans-serif;
    line-height: 60px;
    margin: 0px;
    color: #666;
}

.img_show h1 > img {
    margin-right: 25px;
    vertical-align: text-bottom;
}

.img_show h2 > img {
    margin-right: 15px;
    vertical-align: text-bottom;
}

.img_show .img_p_b {
    margin: 0 0 20px 70px;
    color: #666;
    font-size: 16px;
}

.img_show .btn {
    width: 313px;
    height: 61px;
    border: none;
    color: #fff;
    background-color: #d2d2d2;
    font: bold 25px / 20px "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

.img_show .pac_btn {
    margin-left: 5px;
    margin-top: 10px;
}

.img_star {
    line-height: 70px;
    cursor: pointer;
}

    .img_star b {
        font: bold 18px / 20px "Microsoft YaHei", Helvetica, Arial, sans-serif;
    }

    .img_star img {
        margin-bottom: 5px;
    }


#imglist .item img {
    width: 100%;
    height: 421px;
}



.img_x_list {
    background-color: #666;
    margin-top: 10px;
    padding: 0 10px 15px 20px;
    list-style: none;
    overflow: hidden;
}

    .img_x_list li {
        float: left;
        margin-top: 20px;
        margin-right: 10px;
    }

    .img_x_list img {
        width: 45px;
        height: 45px;
    }

    .img_x_list .active {
        margin-top: 10px;
    }


.v_list {
    list-style: none;
    padding: 0px;
    overflow: hidden;
}

    .v_list li {
        float: left;
        margin: 5px 20px 5px 0;
    }

    .v_list img {
        margin-bottom: 10px;
    }

    .v_list p {
        margin: 0px;
        color: #666;
        line-height: 25px;
    }

        .v_list p span {
            color: #02567b;
        }


.vv_list {
    list-style: none;
    padding: 0px;
    overflow: hidden;
}

    .vv_list li {
        overflow: hidden;
        margin-top: 10px;
        position:relative;
    }
    .vv_list .vv_t {
    position:absolute;
    left:-1px; 
    }
    .vv_list img {
        margin-bottom: 10px;
    }

    .vv_list p {
        margin: 0px;
        color: #666;
        line-height: 30px;
    }

        .vv_list p span {
            color: #02567b;
        }


.list {
    width: 100%;
    margin-left: 0px;
    overflow: hidden;
}

    .list .rc_f6 {
        background-color: #f6f6f6;
    }

.list_title {
    background-color: #f1f1f1;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.list > div {
    padding-left: 0px;
    width: 100%;
    line-height: 40px;
    overflow: hidden;
}

.list .btn {
    width: 73px;
    background: url('../img/list_btn.jpg') scroll no-repeat 12px 11px #f19049;
    border: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

.list > div > div {
    float: left;
    color: #787878;
    overflow: hidden;
}

.list_w_100 {
    width: 100%;
}

.list_w_50 {
    width: 50%;
}

.list_w_60 {
    width: 60%;
}

.list_w_70 {
    width: 70%;
}

.list_w_30 {
    width: 30%;
}

.list_w_10 {
    width: 10%;
    text-align: center;
}
/*通用*/
.bl {
    border-left: 1px solid #c4cdd6;
}

.w_1230 {
    width: 1230px;
}

.p_l0 {
    padding-left: 0px;
}

.ml_45 {
    margin-left: 45px;
}

.mt_30 {
    margin-top: 30px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mr_0 {
    margin-right: 0px;
}

.m_0 {
    margin: 0px;
}

.mb_0 {
    margin-bottom: 0;
}

.pb_0 {
    padding-bottom: 0px;
}

.pb_30 {
    padding-bottom: 30px;
}

.cb {
    clear: both;
}

select {
    border: 1px solid #bfbfbf;
}

.f_z12 {
    font-size: 12px;
}

.f_z18 {
    font-size: 18px;
}

.f_z20 {
    font-size: 20px;
}

.f_z16 {
    font-size: 16px;
}

.ul_l_s_disc {
    list-style: disc;
}

.ta_c {
    text-align: center;
}

.ta_r {
    text-align: right;
}

.ti_10 {
    text-indent: 10px;
}

.ba_f1 {
    background-color: #f1f1f1;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

a:hover {
    text-decoration: none;
}

.runtime_star {
  width: 18px; height:18px;
  display: inline-block;
}
.runtime_star.no{
  background-image: url("../img/nstar.png")
}
.runtime_star.yes{
  background-image: url("../img/ystar.png")
}
.runtime_star.hover_no{
  background-image: url("../img/nstar.png")
}
.runtime_star.hover_yes{
  background-image: url("../img/ystar.png")
}

/*公告*/
.d_news_show {
    min-height: 300px;
    border-top: dotted 1px #bfbfbf;
}

    .d_news_show h1 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    .d_news_show span.news_source {
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }

    .d_news_show p {
        text-indent: 2em;
        line-height: 26px;
        margin: 0px;
    }


.tellme a {
  font-size: 16px;
}




/**pingfen*/


.dzstyle{
	margin-left: 30px;
	margin-right: 30px;
	border-top: 2px orange solid;
}
.dzstyle:after{
	clear: both;
}
.dzstyle .boxes {
	margin: 20px;
}
.dzstyle .half {
	float: left;
	width: 50%;
	height: 150px;
	text-align: center;
}
.dzstyle .left .des{
	margin-top: 10px;
	border-right: 2px solid #808080;
}
.dzstyle .score {
	font-size: 20px;
	color: orange;
}
.dzstyle .bars{

	margin-top: 13px;
}
.dzstyle .bars li {
	line-height: 20px;
	list-style-type:none;
}

.dzstyle .bar {

	display: inline-block;
	width: 150px;
	height: 10px;
	background-color: #DDD;
}
.dzstyle .bar .val{

	height: 10px;
	width: 0%;
	background-color: orange;
}


/** register page */
.selection{text-align:left; font-size:14px;}
.select2-container .select2-selection{height:44px;}