<!-- logged user and the menu -->
<div class="logged-user">
	<div class="btn-group">
		<a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
			<span class="name">@ResSettings.SettingsInSession.RealName</span>
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu" role="menu">
			<li>
				<a href="@Url.Action("Info", "User")">
					<i class="fa fa-user"></i>
					<span class="text">个人简档</span>
				</a>
			</li>
			<li>
				<a href="@Url.Action("ChgPwd", "Account")">
					<i class="fa fa-cog"></i>
					<span class="text">修改密码</span>
				</a>
			</li>
			<li>
				<a href="@Url.Action("LogOff", "Account")">
					<i class="fa fa-sign-out"></i>
					<span class="text">注销</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- end logged user and the menu -->
