@{
	Layout = "~/Views/Shared/_ZcLayout.cshtml";
}
<div class="row">
<div class="col-md-9">
	

	@Html.Partial("../CroResource/_more")
</div>
<div class="col-md-3">
	@Html.Partial("../CroResource/_viewcount")

	@Html.Partial("../CroResource/_newcomment")

</div>
	
</div>


