@{
	Layout = "~/Views/Shared/_ZcLayout.cshtml";
	ViewBag.Title = "首页";
}
@model CroBulletin
<div class="row">
	<div class="col-md-12">
		<div class="div_cont fl w100">
			<div class="title ">
				<b>活动公告</b>
			</div>
			<div class="d_news_show">
				<h1>@Model.Title</h1>
				<span class="news_source">来源:@Model.Creator  发布日期:@Model.CreatedTime </span>
				<p>
					@Html.Raw(@Model.Content)		
				
				</p>
				<br />
				
					@if (Model.ResourcePath == "")
					{

					}
					else
					{
						<p class="d_news_show">

							<a href="@Model.ResourcePath" >
								点此下载附件
							</a>
						</p>
					}
					

</div>
		</div>
	</div>

</div>

