@model ResUser
<div class="modal-dialog">

	<!-- widget -->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">修改个人信息</h4>
		</div>
		<div class="modal-body">
			@using (Html.BeginForm("Edit", "My", FormMethod.Post, new { id = "form", role = "form", @class = "form-horizontal" }))
			{
				<div class="row">
					<fieldset class="col-sm-12">

						<div class="form-group">

							<div class="control-label col-sm-3">姓名</div>
							<div class="col-sm-9">
								@Html.TextBoxFor(m => m.RealName, new { @class = "form-control", id						 ="realname", maxlength = "80", placeholder = "姓名" })
								@Html.ValidationMessageFor(m => m.RealName)
							</div>
						</div>
					
						<div class="form-group">

							<div class="control-label col-sm-3">电子邮件</div>
							<div class="col-sm-9">
								@Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "email", maxlength = "80", placeholder = "电子邮件" })
								@Html.ValidationMessageFor(m => m.Email)
							</div>
						</div>
						
						<div class="form-group">
								<div class="col-sm-9 col-lg-offset-3">
									<button type="submit" id="submit" class="btn btn-primary btn-block"><i class="fa fa-check-circle"></i> 保存</button>
									<button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消</button>
								</div>
							</div>
						</fieldset>
				</div>
			}
		</div>

	</div>
	<!-- end widget -->

</div>
<script type="text/javascript">
	$(function () {

		// add validate new form.
		$.validator.unobtrusive.parse("#form");
		$("#form").submit(function () {

			if ($.trim($("#realname").val()) == "") {
				alert("姓名不能为空!");
				return false;
			}
			if ($.trim($("#email").val()) == "") {
				alert("电子邮箱不能为空!");
				return false;
			}


			var $form = $(this);
			if (!$form.valid())
				return false;
			$.post($form.attr("action"), $form.serialize(), function (data, status) {
				alert("修改成功!");
				window.location.reload(true);
			});
			return false;
		});

	});
</script>
