<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="renderer" content="webkit" />
	<title>免责声明</title>
	<link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/Ace.css" rel="stylesheet" />
	<script src="js/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap.js"></script>
</head>
<body>
	<div class="d_top">
		<div class="container top_nav ">
			<div class="div_ml_mr95">
				<a class="top_s_text p_l0">客户服务</a>
				<span class="top_s_bo"></span>
				<a class="top_s_text">网站地图</a>
				<span class="top_s_bo"></span>
				<a class="top_s_text">加入收藏</a>
			</div>
		</div>
	</div>

	<div class="container i_banner">
		<img src="img/logo.png" />

	</div>

	<div class="container d_statement">
		<div class="div_ml_mr95">
			<div class="div_cont   pb_55">

				<div class="d_stat_show">
					<h1>免责声明使用协议</h1>
					<p>学习网在此特别提醒，您欲访问和使用本网站，请事先认真阅读本协议中各条款，包括免除或者限制本网站责任的免责条款及对您的权利限制；</p>
					<p>如果您代表单位团体使用学习网所提供服务，您在此向网站承诺您有权代表单位团体，您对本协议的接受将被自动视为您所代表的单位团体对本协议的接受；</p>
					<p><b>1、使用协议的接受与修改</b></p>
					<p>本协议是用户(您)与学习网(下称“学习网”)之间的协议，学习网依据本协议为您提供服务。</p>
					<p>1.1 本协议服务条款构成您(无论是个人或者单位)使用学习网所提供服务之先决条件。如您不同意本协议服务条款或其随时对其的修改，您应不使用或主动取消学习网提供的服务。您的使用行为将被视为您对本协议服务条款及其随时修改版本的完全接受；</p>
					<p>
						1.2 这些条款可由学习网随时更新，且毋须另行通知。修改后的服务条款一旦在学习网上公布即取代替原来的服务条款，并构成本条款整体之一部分。您可随时登陆学习网查阅最新的服务条款。
					</p>
					<p><b>２、学习网服务</b></p>
					<p>2.1 学习网向您提供包括但不限于如下服务：</p>
					<p>(i)学习网主页www.shlll.net(含其他任何由学习网直接所有或运营的任何网站)；</p>
					<p>(ii)学习网网站联盟(包括其他第三方网站)；</p>
					<p>(iii)学习网利用直接拥有或运营的服务器、为您提供的信息网络存储空间；</p>
					<p>(iv)学习网提供给您的任何其他技术和服务。</p>
					<p>学习网仅根据您的指令，提供信息网络存储空间及相关平台服务，本身不直接上传任何内容。您利用学习网服务上传的内容包括但不限于音乐、动画、文字、图片、音视频作品等，您担保对利用学习网服务上载、传播的内容负全部法律责任。</p>
					<p>2.2 您在此明确陈述并保证对所有上载、传播到学习网上的内容，拥有或取得了所有必要的权利并承担全部的法律责任，包括但不限于：您有权或已取得必要的许可、授权、准许来使用或授权学习网使用所有与上传作品有关的所有专利、商标、商业秘密、版权、表演者权及其他私有权利；</p>
					<p>2.3 对所有上传至学习网的内容(您在此保证已获得权利人的明确授权)，您在此同意授予学习网对所有上述作品和内容的在全球范围内的免费、不可撤销的、无限期的、并且可转让的非独家使用权许可；学习网有权视情况展示、散布及推广前述内容，有权对前述内容进行任何形式的复制、修改、出版、发行及以其他方式使用或者授权第三方进行复制、修改、出版、发行及以其他方式使用；</p>
					<p>2.4 学习网并不担保您所有上传节目能够通过学习网服务为其他用户所获取、浏览，学习网没有义务和责任对所有您上载、传播的节目进行监测；但学习网保留根据国家法律、法规的要求对上载、传播的节目进行不定时抽查的权利，并有权在不事先通知的情况下移除获断开链接违法、侵权的作品。此款的规定并不排除您对上传内容的版权担保，亦并非表明学习网有责任及能力判断您上传作品的版权归属。</p>
					<p><b>3、免责声明</b></p>
					<p>3.1 学习网对于任何自本网站而获得的他人的信息、内容或者广告宣传等任何资讯(以下统称“信息”)，不保证真实、准确和完整性。如果任何单位或者个人通过上述“信息”而进行任何行为，须自行甄别真伪和谨慎预防风险，否则，无论何种原因，本网站不对任何非与本网站直接发生的交易和/或行为承担任何直接、间接、附带或衍生的损失和责任。</p>
					<p>3.2 学习网不保证(包括但不限于)：</p>
					<p>(i)学习网适合您的使用要求；</p>
					<p>(ii)学习网不受干扰，及时、安全、可靠或不出现错误；</p>
					<p>(iii)您经由学习网取得的任何产品、服务或其他材料符合您的期望。</p>
					<p>3.3 您使用经由学习网下载或取得的任何资料，其风险由您自行承担；因该等使用导致您电脑系统损坏或资料流失，您应自己负完全责任；</p>
					<p>3.4 基于以下原因而造成的利润、商业信誉、资料损失或其他有形或无形损失，学习网不承担任何直接、间接的赔偿：</p>
					<p>(i)对学习网的使用或无法使用；</p>
					<p>(ii)经由学习网购买或取得的任何产品、资料或服务；</p>
					<p>(iii)用户资料遭到未授权的使用或修改；及其他与学习网相关的事宜。</p>
				</div>

			</div>
			<div class="d_s_ck">
				<input type="checkbox" />
				<span>我接受这些合同条款</span>
			</div>
			<div class="d_s_btn">
				<input type="button" value="下一步" class="btn next" /><input type="button" class="btn" value="取消" />
			</div>
		</div>
	</div>






	<div class="d_bottom">
		<div class="container d_b w_1230">
			<p>版权所有 Copy right © 2015</p>
			<p>上海市电化教育馆主管、上海教育软件发展有限公司技术支持</p>
		</div>
	</div>
</body>
</html>
<script src="js/Ace.js"></script>
