
@{
	Layout = "~/Views/Shared/_mzLayout.cshtml";
	ViewBag.Title = "免责申明";
}
@{
	var id = this.ViewContext.RouteData.Values["id"];
}
			<div class="div_cont   pb_55">

				<div class="d_stat_show">

<p class=MsoNormal align=center style='margin-top:15.0pt;margin-right:0cm;
margin-bottom:7.5pt;margin-left:0cm;text-align:center;background:white'><b><span
style='font-size:15.0pt;font-family:宋体;color:#444444'>免责声明使用协议</span></b></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span style='font-family:宋体;color:#444444'>长三角微课教学评比活动在此特别提醒，您欲参与微课资源征集评选活动，请事先认真阅读本协议中各条款，包括免除或者限制本网站责任的免责条款及对您的权利限制；</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span style='font-family:宋体;color:#444444'>如果您代表单位团体参加此次活动，您在此向网站承诺您有权代表单位团体，您对本协议的接受将被自动视为您所代表的单位团体对本协议的接受；</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><b><span lang=EN-US style='font-family:
"Helvetica",sans-serif;color:#444444'>1</span></b><b><span style='font-family:
宋体;color:#444444'>、使用协议的接受与修改</span></b></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span style='font-family:宋体;color:#444444'>本协议是用户</span><span
lang=EN-US style='font-family:"Helvetica",sans-serif;color:#444444'>(</span><span
style='font-family:宋体;color:#444444'>您</span><span lang=EN-US style='font-family:
"Helvetica",sans-serif;color:#444444'>)</span><span style='font-family:宋体;
color:#444444'>与微课教学评比活动</span><span lang=EN-US style='font-family:"Helvetica",sans-serif;
color:#444444'>(</span><span style='font-family:宋体;color:#444444'>下称</span><span
lang=EN-US style='font-family:"Helvetica",sans-serif;color:#444444'>“</span><span
style='font-family:宋体;color:#444444'>微课教学评比活动</span><span lang=EN-US
style='font-family:"Helvetica",sans-serif;color:#444444'>”)</span><span
style='font-family:宋体;color:#444444'>之间的协议，微课教学评比活动依据本协议为您提供服务。</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span lang=EN-US style='font-family:"Helvetica",sans-serif;
color:#444444'>1.1 </span><span style='font-family:宋体;color:#444444'>本协议服务条款构成您</span><span
lang=EN-US style='font-family:"Helvetica",sans-serif;color:#444444'>(</span><span
style='font-family:宋体;color:#444444'>无论是个人或者单位</span><span lang=EN-US
style='font-family:"Helvetica",sans-serif;color:#444444'>)</span><span
style='font-family:宋体;color:#444444'>使用微课教学评比活动所提供服务之先决条件。如您不同意本协议服务条款或其随时对其的修改，您应不使用或主动取消微课教学评比活动提供的服务。您的使用行为将被视为您对本协议服务条款及其随时修改版本的完全接受；</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span lang=EN-US style='font-family:"Helvetica",sans-serif;
color:#444444'>1.2 </span><span style='font-family:宋体;color:#444444'>这些条款可由微课教学评比活动随时更新，且毋须另行通知。修改后的服务条款一旦在微课教学评比活动上公布即取代替原来的服务条款，并构成本条款整体之一部分。您可随时登陆微课教学评比活动查阅最新的服务条款。</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><b><span style='font-family:宋体;color:#444444'>２、微课教学评比活动服务</span></b></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span lang=EN-US style='font-family:"Helvetica",sans-serif;
color:#444444'>2.1 </span><span style='font-family:宋体;color:#444444'>微课教学评比活动向您提供包括但不限于如下服务：</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span lang=EN-US style='font-family:"Helvetica",sans-serif;
color:#444444'>(i)</span><span style='font-family:宋体;color:#444444'>微课教学评比活动主页</span><span
lang=EN-US style='font-family:"Helvetica",sans-serif;color:#444444'>sser.sherc.net(</span><span
style='font-family:宋体;color:#444444'>含其他任何由微课教学评比活动直接所有或运营的任何网站</span><span
lang=EN-US style='font-family:"Helvetica",sans-serif;color:#444444'>)</span><span
style='font-family:宋体;color:#444444'>；</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span lang=EN-US style='font-family:"Helvetica",sans-serif;
color:#444444'>(ii)</span><span style='font-family:宋体;color:#444444'>微课教学评比活动利用直接拥有或运营的服务器、为您提供的信息网络存储空间；</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span lang=EN-US style='font-family:"Helvetica",sans-serif;
color:#444444'>(iii)</span><span style='font-family:宋体;color:#444444'>微课教学评比活动提供给您的任何其他技术和服务。</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span style='font-family:宋体;color:#444444'>微课教学评比活动仅根据您的指令，提供信息网络存储空间及相关平台服务，本身不直接上传任何内容至微课资源征集评选活动平台。您利用微课教学评比活动服务上传的内容包括但不限于音乐、动画、文字、图片、音视频作品等，您担保对利用微课教学评比活动服务上载、传播的内容负全部法律责任。</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span lang=EN-US style='font-family:"Helvetica",sans-serif;
color:#444444'>2.2 </span><span style='font-family:宋体;color:#444444'>您在此明确陈述并保证对所有上载、传播到微课教学评比活动上的内容，拥有或取得了所有必要的权利并承担全部的法律责任，包括但不限于：您有权或已取得必要的许可、授权、准许来使用或授权微课教学评比活动使用所有与上传作品有关的所有专利、商标、商业秘密、版权、表演者权及其他私有权利；</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span lang=EN-US style='font-family:"Helvetica",sans-serif;
color:#444444'>2.3 </span><span style='font-family:宋体;color:#444444'>对所有上传至微课教学评比活动的内容</span><span
lang=EN-US style='font-family:"Helvetica",sans-serif;color:#444444'>(</span><span
style='font-family:宋体;color:#444444'>您在此保证已获得权利人的明确授权</span><span lang=EN-US
style='font-family:"Helvetica",sans-serif;color:#444444'>)</span><span
style='font-family:宋体;color:#444444'>，您在此同意授权本次活动组织者以非营利方式通过微课教学评比活动向社会公开推荐。；</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span lang=EN-US style='font-family:"Helvetica",sans-serif;
color:#444444'>2.4 </span><span style='font-family:宋体;color:#444444'>微课教学评比活动并不担保您所有上传节目能够通过微课教学评比活动服务为其他用户所获取、浏览，微课教学评比活动没有义务和责任对所有您上载、传播的节目进行监测；但微课教学评比活动保留根据国家法律、法规的要求对上载、传播的节目进行不定时抽查的权利，并有权在不事先通知的情况下移除或断开链接违法、侵权的作品。此款的规定并不排除您对上传内容的版权担保，亦并非表明微课教学评比活动有责任及能力判断您上传作品的版权归属。</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><b><span lang=EN-US style='font-family:
"Helvetica",sans-serif;color:#444444'>3</span></b><b><span style='font-family:
宋体;color:#444444'>、免责声明</span></b></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span lang=EN-US style='font-family:"Helvetica",sans-serif;
color:#444444'>3.1 </span><span style='font-family:宋体;color:#444444'>微课教学评比活动对于任何自本网站而获得的他人的信息、内容或者广告宣传等任何资讯</span><span
lang=EN-US style='font-family:"Helvetica",sans-serif;color:#444444'>(</span><span
style='font-family:宋体;color:#444444'>以下统称</span><span lang=EN-US
style='font-family:"Helvetica",sans-serif;color:#444444'>“</span><span
style='font-family:宋体;color:#444444'>信息</span><span lang=EN-US
style='font-family:"Helvetica",sans-serif;color:#444444'>”)</span><span
style='font-family:宋体;color:#444444'>，不保证真实、准确和完整性。如果任何单位或者个人通过上述</span><span
lang=EN-US style='font-family:"Helvetica",sans-serif;color:#444444'>“</span><span
style='font-family:宋体;color:#444444'>信息</span><span lang=EN-US
style='font-family:"Helvetica",sans-serif;color:#444444'>”</span><span
style='font-family:宋体;color:#444444'>而进行任何行为，须自行甄别真伪和谨慎预防风险，否则，无论何种原因，本网站不对任何非与本网站直接发生的交易和</span><span
lang=EN-US style='font-family:"Helvetica",sans-serif;color:#444444'>/</span><span
style='font-family:宋体;color:#444444'>或行为承担任何直接、间接、附带或衍生的损失和责任。</span></p>

<p class=MsoNormal align=left style='text-align:left;text-indent:24.0pt;
line-height:21.0pt;background:white'><span lang=EN-US style='font-family:"Helvetica",sans-serif;
color:#444444'>3.2 </span><span style='font-family:宋体;color:#444444'>您使用经由微课资源征集评选活动下载或取得的任何资料，其风险由您自行承担；因该等使用导致您电脑系统损坏或资料流失，您应自己负完全责任；</span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-indent:20.15pt;line-height:
125%'><span lang=EN-US>&nbsp;</span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-indent:20.15pt;line-height:
125%'><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>



				</div>

			</div>
			<div class="d_s_ck">
				<label>
					<input type="checkbox" id="btn1" />
					<span>我接受这些合同条款</span>
				</label>
			</div>
			<div class="d_s_btn">



				<input type="submit" value="下一步" class="btn next"  id="sub"/><input type="button" class="btn"  id="btn2" value="取消" onclick="window.history.back(-1);" />


			</div>



@section Scripts {
	<script type="text/javascript">


		$("#sub").on("click", function () {


			if ($('#btn1').prop('checked') == true) {

				window.location.href = "@Url.Action("Upload", "CroMy", new { id = ResSettings.SettingsInSession.UserId })";

			}
			else{
				alert("请选择接受条款");
				return false;
			}
		})

		$("#btn2").on("click", function () {
			$('#btn1').attr("checked", false);
		})
	</script>}

