@model List<SelectListItem>
@{ 
	var id = Request["id"];
}
<div class="modal-dialog">

	<!-- widget -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>下载设定</h3>
		</div>

		<div class="widget-content">
			<!-- Condition -->
			<div class="row">
					<div class="form-group center-block">
						@foreach (var item in Model)
						{
						 <label class="control-label"> &nbsp;&nbsp;&nbsp;&nbsp; @item.Text</label> @Html.RadioButton("PublicSetting", item.Value, item.Selected, new { @class = "publicSetting" })
						}

					</div>
			</div>
			<!-- end Grid-->
		</div>
		<!-- end widget content -->

	</div>
	<!-- end widget -->

</div>

<script>
	$(function () {

		$('.publicSetting').on('click', function () {
			$.post('@Url.Action("MultiDownloadSetting", "Crosource")', { ids: '@ViewBag.ids', settingId: $(this).val() }, function (data) {
				$('#inner-edit-form').modal('hide');
				$('#bootgrid').bootgrid('reload');

				alertify.success(data.msg);
			});
		});
	});
</script>

