@Model long
@{
	long id = Model;
}

<div class="modal-dialog">

	<!-- widget -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-edit"></i> 用户授权</h3>
			<div class="btn-group widget-header-toolbar">
				<a href="#" title="关闭" class="btn-borderless" data-dismiss="modal"><i class="fa fa-close"></i></a>
			</div>
		</div>
		<div class="widget-content">
			@using (Html.BeginForm("Approve", "User", Model == null ? null : new { id = id }, FormMethod.Post, new { id = "form", role = "form", @class = "form-horizontal" }))
			{
				<div class="row">
					<fieldset class="col-sm-12">
						<div class="form-group">
							<label class="col-sm-3">角色</label>
							<div class="col-sm-9">
								@Html.DropDownList("RoleId", ResUserHelper.GetRoleSelectList(id), new { @class = "form-control" })
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-9 col-lg-offset-3">
								<button type="submit" id="submit" class="btn btn-primary btn-block"><i class="fa fa-check-circle"></i> 保存</button>
								<button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消</button>
							</div>
						</div>
					</fieldset>
				</div>
			}
		</div>

	</div>
	<!-- end widget -->

</div>

<script type="text/javascript">
	$(function () {

		// add validate new form.
		$.validator.unobtrusive.parse("#form");
		$("#form").submit(function () {
			var $form = $(this);
			if (!$form.valid())
				return false;

			$.post($form.attr("action"), $form.serialize(), function (data, status) {
				if (status == "success") {

					if (data.error != 'none') {
						alertify.error(data.msg);
						return;
					}

					alertify.success(data.msg);
					$('#inner-edit-form').modal('hide');
					$('#bootgrid').bootgrid('reload');
				}
			});

			return false;
		});

	});
</script>
